/**
* Vanilla CSS
*/

/***************************************************************************************
* BODY ELEMENTS
***************************************************************************************/

body {}
div {}
hr {}
img {}
a {}

/***************************************************************************************
* HEADINGS
***************************************************************************************/

/* All Headings */
h1, h2, h3, h4, h5, h6 {}

/* Individual Headings */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/***************************************************************************************
* PARAGRAPHS
***************************************************************************************/

/* First Paragraph */
p {}

/* Seccond Paragraph */
abbr {}
b {}

/* Blockquote */
blockquote {}
cite {}

/* Third Paragraph */
dfn {}
del {}
em {}
i {}
strong {}
ins {}
small {}

/* Quote */
q {}

/* Fourth Paragraph */
sub {}
sup {}

/***************************************************************************************
* LISTS
***************************************************************************************/

/* All Lists */
dl, ol, ul {}

/* Definition Lists */
dl {}
dt {}
dd {}

/* Ordered Lists */
ol {}
ol li {}

/* Unordered Lists */
ul {}
ul li {}

/***************************************************************************************
* FORMS
***************************************************************************************/

form {}
fieldset {}
legend {}
label {}

/* Inputs */
input {}
textarea {}

/* Other */
select {}
optgroup {}

/***************************************************************************************
* TABLES
***************************************************************************************/

table {}
caption {}
tr {}

/* Head */
thead {}
th {}

/* Body */
tbody {}
td {}

/* Foot */
tfoot {}

/***************************************************************************************
* OTHER
***************************************************************************************/

address {}
code {}
samp {}
pre {}

kbd {}
var {}



















