/*
p {color:#333; font-size:14px;line-height: 20px;font-family:Georgia,"Lucida Grande";}
h3 {color:#957a29;font-size:13px;font-family:Georgia,"Lucida Grande";margin-bottom: 20px;}}
h2 {line-height: 18px;font-family:Georgia,"Lucida Grande";margin-bottom:10px;padding:0px;}
*/
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700'");
.mcecontentbody{
z-index:0;

	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	/*
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color: #4c4d4f;
line-height: 20px;

*/
}

body{
background: none !important;
}

