/*
#sidebar{margin-right:15px;}
#main{width:auto;}
*/
 
  body {

	      }
	      
#overlay{-webkit-border-radius:10px;background-color:rgba(0,0,0,.7);color:white;font-size:18px;font-weight: bold;height:80px;line-height: 80px;position: absolute;	left:0;	right:0;	top:0;	bottom:0;margin-left: auto;	margin-right: auto;	margin-top:auto;margin-bottom:auto;	text-align: center;z-index:99;width:200px;}

textarea { height: 90px;}


#submenu{border-bottom: 4px solid #e7e7e7;}
.brand {padding: 0px}

label{font-weight: bold}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
font-size: 1em;
}
.tablaMain{
width:100%
}
td{white-space: normal !important /* white-space: nowrap; *}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

option.combo_child {}


.tablaMain td {font-size:12px;min-width:70px;}

h1{font-size:22px}
h2{font-size:18px}
h3{font-size:14px}
.nav-header{background: #f7f7f7;}
.nav li {font-size:13px}
.icon-chevron-right{
	float: right;
}
.nav-list>li>a{
	padding: 6px 10px;
	border-bottom: 1px solid #e3e3e3;
}
.nav-list{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}
.nav li:last-child a{
	border-bottom: none;
}
.tablaMain iframe{
	max-width: 130px;
max-height: 110px;
}
html, body, .container-fluid, .row-fluid, .span2{
	height: 100%;
}
.new{
	 margin-left: -21px!important;
	 background-color: #2A2F38;
}
.nav-list>li>a{
	text-shadow: none!important;
	color: white!important;
}
.nav-list>li>a{
	border-bottom: 0px;
}
.nav>li>a:hover {
text-decoration: none;
background-color: #FF414A;
color: white!important;
}
.nav-list>.active>a, .nav-list>.active>a:hover{
	background-color: #FF414A;
}
.accordion a{
	display: block;
	color: white!important
}
.accordion a:hover{
background-color: #FF414A;
color: white;
text-decoration: none;
}
.accordion-group{
	border: none!important;
	border-bottom: 1px solid grey!important;
}
/*
.accordion-toggle{
	background-color: #FF414A;
	color: white;
	text-decoration: none;
}
*/