.publicidad{
background:aqua !important;
min-height: 200px;
}

.logo h2{
font-family: 'Yesteryear',Yesteryear !important;
font-size:50px;
color:lightblue;
}

.text-copyright{font-size: 11px}